<div class="card">
  <h3 class="card-header text-center">
    Edit User
  </h3>
  <div class="card-body">
    <form action="/admin/users/edit/{{user._id}}?_method=PUT" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="_method" value="PUT">
      <div class="form-group">
        <label for="name" class="form-label">Name</label>
        <input type="text" name="name" id="name" class="form-control form-control-lg" value="{{user.name}}">
      </div>
      <div class="form-group">
        <label for="username" class="form-label">Username</label>
        <input type="text" name="username" id="username" class="form-control form-control-lg" value="{{user.username}}">
      </div>
      <div class="form-group">
        <label for="email" class="form-label">Email</label>
        <input type="email" name="email" id="email" class="form-control form-control-lg" value="{{user.email}}">
      </div>
      <div class="form-group">
        <label for="password" class="form-label">Password</label>
        <input type="password" name="password" id="password" class="form-control form-control-lg" value="{{trimString user.password 0 10}}">
      </div>
      <div class="form-group custom-file mb-3 mt-2">
        <input type="file" name="image" id="image" class="custom-file-input post-thumbnail-input">
        <label for="image" class="custom-file-label">Upload Avatar</label>
      </div>
      <div class="mb-1 mt-1">
        <img src="/assets/uploads/users/{{user.avatarUrl}}" class="post-thumbnail-image img-thumbnail user-avatar-img">
      </div>
      <input type="submit" value="Updated User" class="btn btn-success btn-block">
    </form>
  </div>
</div>